---
import Layout from "~/layouts/Layout.astro";
import { getAccount, getInvites } from "~/lib/d1";
import { handleAuth } from "~/lib/utils";

const { shortener_database } = Astro.locals.runtime.env;

const account = await handleAuth(Astro.request, Astro.cookies, Astro.redirect);
if (!account.success) return account.data;

const { id } = account.data;

const invites = await Promise.all(
  (await getInvites(shortener_database, id))?.map(async (invite) => ({
    ...invite,
    author: (await getAccount(shortener_database, invite.author_id)) || {
      name: "Unknown",
      id: "Unknown",
      avatar_url: "https://cdn.discordapp.com/embed/avatars/0.png",
    },
  })) || [],
);
---

<Layout authenicatedUser={account.data}>
  <main class="h-full overflow-hidden pb-4 text-white">
    <div class="flex h-full flex-col items-center justify-center gap-y-6">
      <h1 class="text-6xl font-extrabold text-white">Invites</h1>
      <table class="mx-auto text-sm text-gray-400">
        <thead class="bg-dark-400 text-xs font-medium uppercase">
          <tr>
            <th scope="col" class="px-6 py-3 text-left tracking-wider">
              Code</th
            >
            <th scope="col" class="px-6 py-3 text-left tracking-wider">
              Author</th
            >
          </tr>
        </thead>
        <tbody class="bg-dark-400">
          {
            invites?.map((invite) => (
              <tr class="bg-black bg-opacity-20">
                <td class="whitespace-nowrap px-6 py-4">{invite.code}</td>
                <td class="flex whitespace-nowrap px-6 py-4">
                  <img class="w-5" src={invite.author.avatar_url} alt="pfp" />
                  <span class="ml-2 font-medium">
                    {invite.author.name} ({invite.author.id})
                  </span>
                </td>
              </tr>
            ))
          }
        </tbody>
      </table>
    </div>
  </main>
</Layout>
